* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
}

main {
  padding: 36px;
}

.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  padding: 20px;
}

.header--image {
  height: 100%;
  margin-right: 6px;
}

.header--title {
  font-size: 1.25rem;
  margin-right: auto;
}

.header--project {
  font-size: 0.75rem;
  font-weight: 500;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
  margin-bottom: 17px;
}

.form--input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
}

.form--button {
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #ce7474 1.14%, #A818DA 100%);
  color: white;
  border: none;
  cursor: pointer;
}

.btn {

  text-align: center;
  width: 100%;
  height: 4rem;
  border-radius: 6px;
  border-style: none;
  background: linear-gradient(to right,#ff0000,#8735AB);
  color: white;
  font-size: 50px;
  cursor: pointer;
}

.meme {
  /* display problems */
  /* flex-wrap: wrap; */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meme--image {
  bottom: 0;
  height: auto;
  /* align-content: center; */
  /* flex-wrap: wrap; */
  max-width: 100%;
  border-radius: 3px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-bottom: 20px;
}

.memeTextTop, .memeTextBottom {
  /* style*/
}

.memeTextTop{
  position: absolute;
  top: 2px;
  z-index: 99;
    /* width: 80%; */
    text-align: center;
    /* left: 45%; */
    /* transform: translateX(-50%); */
    /* margin: 15px 0; */
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
  /* margin-top: -300px; */
}

.memeTextBottom {
  position: absolute;
  /* width: 80%; */
  text-align: center;
  /* left: 45%; */
  bottom: 20px;
  /* transform: translateX(-50%); */
  /* margin: 15px 0; */
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
  /* margin-top: -100px; */
}


.list{
 
  /* display: flex; */

  }
  .MemeListImg{
    max-width: 500px;
  }
  